@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
margin: 0; padding: 0;}

:root {
--font-destaque: Passion One, Arial, sans-serif;
--font-padrao: Sriracha, cursive;
--font-verdana: Verdana, Helvetica, cursive;
}

body {
background-color: lightgrey; 
min-height: 100vh;}

main p{
font-size: 3em;
font-family: var(--font-padrao);
}

header {
background-color: black;
color: white; 
text-align: center;
margin-bottom: 20px;}

header h1 {
padding: 50px 0px 20px 0px;
font-variant: small-caps;
font-family: var(--font-destaque);
font-size: 8.5em;}

header a, footer a {
text-decoration: none; 
color: white;}

header a:hover {
text-decoration: underline;}

header p {
padding-bottom: 50px;}

section.normal {
position: relative;
margin-bottom: 15%;

}

section p {
position: relative;
left: 5%;
}

section.imagem1 {
background:url(../imagens/background001.jpg) left center no-repeat fixed;
background-size: cover;
height: 100vh;
width: 100%;
}

section.imagem1 p {
background-color: rgba(27, 26, 26, 0.685);
max-width: 500px;
color: white;
}

section.imagem2 {
    background:url(../imagens/background002.jpg) left center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    }
    
    section.imagem2 p {
    background-color: rgba(27, 26, 26, 0.685);
    max-width: 500px;
    color: white;
    }




footer{background-color: black;
color: white;
text-align: center;
font-size: 1em;
padding: 5px;}









